mode: standalone
replicas: 1

auth:
  rootUser: minioadmin
  rootPassword: miniosecret

global:
  security:
    allowInsecureImages: true

persistence:
  enabled: true
  size: 10Gi
  storageClass: local-path
  accessModes:
    - ReadWriteOnce

console:
  enabled: true

ingress:
  enabled: true
  ingressClassName: nginx
  hostname: minio.timebertt.dski23a.timebertt.dev
  annotations:
    cert-manager.io/cluster-issuer: letsencrypt
  tls: true
  extraTls:
    - hosts:
        - minio.timebertt.dski23a.timebertt.dev
      secretName: minio-tls

resources:
  requests:
    memory: 512Mi
    cpu: 250m
  limits:
    memory: 1Gi
    cpu: 500m
