backendStore:
  databaseMigration: true
  databaseConnectionCheck: true

externalDatabase:
  existingSecret: "postgres-admin"
  usernameKey: "postgres-user"
  passwordKey: "postgres-password"
  host: "postgres-postgresql.data-storage.svc.cluster.local"
  port: 5432
  database: "ds_db"

externalS3:
  existingSecret: "minio"
  accessKeyIDKey: "root-user"
  secretAccessKeyKey: "root-password"
  bucket: "hello-world-bucket"
  endpoint: "http://minio.data-storage.svc.cluster.local:9000"
  ignoreTLS: true

extraEnvVars:
  MLFLOW_SERVER_ALLOWED_HOSTS: "*"
  MLFLOW_SERVER_CORS_ALLOWED_ORIGINS: "*"

service:
  type: ClusterIP
  port: 5000

resources:
  limits:
    cpu: "500m"
    memory: "1Gi"
  requests:
    cpu: "250m"
    memory: "512Mi"
