server:
  image:
    tag: 2.6.2  # or latest stable
  env:
    - name: MLFLOW_TRACKING_URI
      value: postgresql+psycopg2://mlflow_user:mlflow_pass@postgres.mlops.svc.cluster.local:5432/mlflow_db
    - name: ARTIFACT_ROOT
      value: s3://mlflow-artifacts/
  extraVolumes:
    - name: minio-credentials
      secret:
        secretName: minio-credentials
  extraVolumeMounts:
    - name: minio-credentials
      mountPath: /etc/minio

artifactStore:
  s3:
    endpointUrl: http://minio.mlops.svc.cluster.local:9000
    accessKey: minio-access-key
    secretKey: minio-secret-key
