image:
  repository: "ghcr.io/mlflow/mlflow"
  tag: "3.8.0"
  pullPolicy: IfNotPresent

backendStore:
  databaseMigration: true
  postgres:
    enabled: true
    host: "{{ vault:mlops/mlflow-backend-host#host }}"
    port: 5432
    database: "ds_db"
    user: "{{ vault:mlops/postgres-admin#postgres-user }}"
    password: "{{ vault:mlops/postgres-admin#postgres-password }}"

artifactRoot:
  s3:
    enabled: true
    bucket: "hello-world-bucket"
    awsAccessKeyId: "{{ vault:mlops/minio#root-user }}"
    awsSecretAccessKey: "{{ vault:mlops/minio#root-password }}"
    endpoint: "http://minio.data-storage.svc.cluster.local:9000"

service:
  type: ClusterIP
  port: 5000

# ingress:
#   enabled: true
#   hosts:
#     - host: mlflow.example.com
#       paths:
#       - path: /
#         pathType: Prefix
