backendStore:
  databaseMigration: true
  postgres:
    enabled: true
    host: "postgres-postgresql.data-storage.svc.cluster.local"
    port: 5432
    database: "ds_db"
    user: "temp"
    password: "temp"

artifactRoot:
  s3:
    enabled: true
    bucket: "mlflow-artifacts"
    awsAccessKeyId: "temp"
    awsSecretAccessKey: "temp"

service:
  type: ClusterIP
  port: 5000

extraEnvVars:
  MLFLOW_BACKEND_STORE_URI: >
    postgresql+psycopg2://$(POSTGRES_USER):$(POSTGRES_PASSWORD)
    @postgres-postgresql.data-storage.svc.cluster.local:5432/ds_db
  MLFLOW_S3_ENDPOINT_URL: "http://minio.data-storage.svc.cluster.local:9000"
  AWS_DEFAULT_REGION: "us-east-1"
  MLFLOW_ARTIFACT_ROOT: "s3://mlflow-artifacts"
  POSTGRES_USER: ""
  POSTGRES_PASSWORD: ""
  AWS_ACCESS_KEY_ID: ""
  AWS_SECRET_ACCESS_KEY: ""

ingress:
  enabled: false
