image:
  repository: "ghcr.io/mlflow/mlflow"
  tag: "3.8.0"
  pullPolicy: IfNotPresent

backendStore:
  databaseMigration: true
  postgres:
    enabled: true
    host: "postgres-postgresql.data-storage.svc.cluster.local"
    port: 5432
    database: "ds_db"
    user: "mlops"
    password: "WP+t3T^)iGv#*Z|m/4C(qc=-<s1nXxf"

artifactRoot:
  s3:
    enabled: true
    bucket: "hello-world-bucket"
    awsAccessKeyId: "minioadmin"
    awsSecretAccessKey: "W4?ZL}52vd!1\\XTE#O6ym|i`VzR*[,."

extraEnvVars:
  MLFLOW_S3_ENDPOINT_URL: "http://minio.data-storage.svc.cluster.local:9000"
  MLFLOW_S3_IGNORE_TLS: "true"

service:
  type: ClusterIP
  port: 5000

# ingress:
#   enabled: true
#   hosts:
#     - host: mlflow.example.com
#       paths:
#       - path: /
#         pathType: Prefix
