image:
  repository: mlflow/mlflow
  tag: 2.6.2

service:
  type: ClusterIP
  port: 5000

# Postgres backend store
backendStore:
  databaseMigration: true
  postgres:
    enabled: true
    host: postgres-postgresql.data-storage.svc.cluster.local
    port: 5432
    database: ds_db
    user:
      valueFrom:
        secretKeyRef:
          name: postgres-mlops
          key: postgres-user
    password:
      valueFrom:
        secretKeyRef:
          name: postgres-mlops
          key: postgres-password

# S3 artifact storage (MinIO)
artifactRoot:
  s3:
    enabled: true
    bucket: mlflow-artifacts
    awsAccessKeyId:
      valueFrom:
        secretKeyRef:
          name: minio-mlops
          key: root-user
    awsSecretAccessKey:
      valueFrom:
        secretKeyRef:
          name: minio-mlops
          key: root-password

extraEnvVars:
  MLFLOW_S3_ENDPOINT_URL: "http://minio.data-storage.svc.cluster.local:9000"
  AWS_DEFAULT_REGION: "us-east-1"

